 /* .carousel-item img{
   height: 400px;
   object-fit: cover;
 }  არასწორი */ 

 .headeritem img {
    height: 400px;
    object-fit: cover;
 }

 .nav-link{
    color: brown !important;
 }

 .product{
 
   background-color: rgb(252, 152, 152);
 }