:root{
    --basecolor:red;
    --secendcolor:rgb(255, 255, 255);
   
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.paranets > p{
    color: red;
}

.paranets + h4{
    background-color: rgb(128, 0, 0);
}

.paranets ~ h4{
    background-color: green;
}

/* input + span {
    display: block;
    width: 25px;
    height: 25px;
    background-color: red;
}

input:checked + span {
    background-color: green;
} */

.costumcheck{
    width: 50px;
    height: 25px;
    border-radius: 17px;
    position: relative;
    border: 1px solid #ccc;
}

.mycheck{
    display: none;
}

.costumcheck label {
  cursor: pointer;
  height: 100%;
  display: block;
}

.costumcheck span{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: block;
    background-color: red;
    top: 4px;
    left: 5px;
    transition: all .6s ease-in-out;
}

.mycheck:checked + span {
    background-color: rgb(0, 255, 17);  
    left: 55%;
}

/* ნავბარი */

nav{
    background-color: rgb(57, 57, 251);
}

nav ul li {
    display: inline-block;
    padding: 17px 16px;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.drops{
    position: absolute;
    top:53px;
    background-color: #3939fb;
    min-width: 300px;
    opacity: 0;
    pointer-events: none;
    transition: all .6s linear;
    border-radius: 0 0 7px 7px;
}

.drops a{
    display: block;
    padding: 12px;
}

.drops a:hover{
  background-color: #ccc;
  color: blue;
}
nav ul li:hover  .drops{
   opacity: 1;
   pointer-events: all;
}

/* .search{
    width: 350px;
    margin: auto;
    position: relative;
}

.search input{
    outline: none;
}

.search input {
    width: 100%;
    padding: 10px;
    border: 0;
    border-bottom: 2px solid blue;
}

.search label{
    position: absolute;
    left: 8px;
    top: 0;
    pointer-events: none;
    transition: all .3s linear;
}

.search input:focus + label {
  top: -25px;
} */

/* [type="text"] {
  background-color: red;
} */

.mychecks:invalid {
    border: 4px solid rgb(128, 0, 0);
}

.mychecks:valid {
    border: 4px solid green;
}

.mychecks:read-only {
 background-color: #ccc;
 cursor: not-allowed;
}

.list p:nth-child(2){
  background-color: green;
}

.list p:first-child{
background-color: rgb(128, 0, 0);
}

.list p:last-child{
background-color: rgb(6, 0, 128);
}

.text p::first-line{
      background-color: #3939fb;
}

.text p::first-letter{
   color: #fff;
   font-size: 25px;
}

.color div {
    height: 25px;
}

.color div:nth-child(odd) {
    background-color: green;
}

.color div:nth-child(even) {
    background-color: rgb(128, 13, 0);
}

.color div:not(.bg){
    width: 50px;
}

.element{
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: aqua;
}

.element::after{
    content: " ";
    width: 150px;
    height: 150px;
    background-color: #3939fb;
    display: block;
}

.element::before{
    content: " ";
    width: 150px;
    height: 150px;
    background-color: blue;
    display: block;
}

p::selection{
    background-color: red;
    color: #fff;
}

.langnav a:lang(en){
    color: green;
}

.langnav a:lang(ka){
    color: red;
}

.box1{
    width: 250px;
    margin: auto;
    border: 1px solid red;
}

.box1 img{
 width: 100%;
 opacity: 1;
 object-fit: cover;
 transition: all .6s;
 height: 350px;
}
.box1 img:hover{
    opacity: .5;
}

html, body {
    font-size: 20px;
}

.parents{
    font-size: 14px;
}

.parents p{
 font-size: 3em;
}

.sidenav{
    width: 10vw;
    height: 100vh;
    position: fixed;
    background-color: blue;
    top: 0;
    color: var(--secendcolor);
}

.sidenav::before{
  content: attr(data-text);
}