@font-face {
    font-family: arials;
    src: url('../bpg_arial_2009.ttf');
}

*{
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
}

body{
    margin: 0;
}

div {
    display: inline-block;
    
     
 
    color: #fff;
}

.bg-green{
    background-color: green;
}

.menu li{
    padding: 15px 7px;
    display: inline-block;
}

.menu li:hover{
  background-color: blue;
}

.menu li a {
    text-decoration: none;
    color: #fff;
}

.mynavbar{
    background-color: crimson;
    box-shadow: 7px 7px 7px #00000042;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    max-width: 100%;
    margin: auto;
}

.col{
    padding: 15px;
    width: 25%;
    
}

.card{
    border: 1px solid red;
}

.col img {
    width: 100%;
}

.menu{
    font-family: arials;
}

 nav{
    margin-top: 25px;
 }

nav ul {
    margin: auto;
    padding-left: 0;
    width: fit-content;
    background-color: black;
    border-radius: 7px;
}

nav ul li {
    display: inline-block;
    padding: 15px;
}

nav ul li a{
 color: #fff;
 text-decoration: none;
}

nav ul li.active{
    background-color: #008000;
    border-radius: 7px;
}

.contents{
    width: 1200px;
    margin: auto;
    display: flex;
    color: black;
    flex-wrap: wrap;
}

nav{
 width: 100%;
 padding: 25px;
}

main{
    width: 60%;
    padding: 25px;
    background-color: #008000;
   }

   aside{
    width: 40%;
    padding: 25px;
    height: 450px;
   }

   footer{
    width: 100%;
    padding: 25px;
   }