*{
    box-sizing: border-box;
}

body{
    height: 1800px;
}

.content{
    position: relative;
    width: 500px;
    height: 200px;
    background-color: aqua;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.content span {
    width: 50px;
    opacity: 0;
    height: 50px;
    position: absolute;
    right: -40%;
    top: -5%;
    transition:  all .6s ease-in;
    display: block;
    border-radius: 50%;
    background-color: red;
}


.content:hover span{
    right: -5%;
    opacity: 1;
}