*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.card{
    position: relative;
    width: 350px;
    margin: auto;
}

.card span{
    position: absolute;
    left: 0;
    top: 0;
   
    background-color: rgba(0, 0, 255, 0.365);
}

.card img {
 width: 100%;
}

.card h1 {
 background-color: red;

}

.card i {
    display: inline-block;
    position: relative;
    top: 7px;
}


.box{
    position: absolute;
    width: 50px;
    top: 0;
    left: 0;
    height: 50px;
    background-color: blue;
}

.rel{
    background-color: brown;
    position: relative;
    width: 800px;
    margin: auto;
    height: 800px;
}

.rems{
    position: absolute;
}

.scroll{
    width: 60px;
    height: 60px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    border-radius: 50%;
    background-color: aqua;
}

.sticky{
    height: 1500px;
    background-color: black;
}

.ball{
    position: sticky;
    width: 40px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    top: 60px;
}